.container{
    margin: 50px 0;
}

.card{
    margin: 2% 2% !important;
}

.infected{
    border-bottom: 10px solid rgba(13, 13, 223, 0.5);
}
.recovered{
    border-bottom: 10px solid rgba(47, 185, 13, 0.5);
}
.deaths{
    border-bottom: 10px solid rgba(223, 8, 8, 0.5);
}

@media (max-width: 770px) {
    .card {
    margin: 2% 0 !important;
    }
}