body{
    background-color: rgb(156, 172, 170);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.image{
    width: 300px;
    margin-bottom: 25px;
    margin-top: 50px;
}

@media (max-width: 770px) {
    .container {
        margin: 0 10px;
    }
}

.image {
    width: 60%;
}